 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <img class="icons" alt="solidworks" src="{{ "/assets/img/solidworks.png" | prepend: site.baseurl }}" />
      <img class="icons" alt="nx" src="{{ "/assets/img/nx.png" | prepend: site.baseurl }}" />
      <img class="icons" alt="autocad" src="{{ "/assets/img/autocad.jpg" | prepend: site.baseurl }}" />
      <p>Specialized in several computer aided design softwares including Solidworks and Siemens NX. Knowledgable of geometric dimension and tolerancing
        (GD&T) and advanced CAD/CAM methods.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img class="icons" alt="eagle_logo" src="{{ "/assets/img/eagle_logo.png" | prepend: site.baseurl }}" />
      <img class="icons" alt="lms" src="{{ "/assets/img/lms.png" | prepend: site.baseurl }}" />
      <img class="icons" alt="altair" src="{{ "/assets/img/altair.png" | prepend: site.baseurl }}" />
      <p>Highly experienced in Eagle PCB Design, in addition to other mechanical design integration softwares including LMS Test.Lab and AMESim. Using Altair Hyperworks, I have performed numerous Finite Element Analyses (FEA).  </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="fab fa-linux"></i>
      <img class="icons" alt="matlab" src="{{ "/assets/img/matlab.png" | prepend: site.baseurl }}" />
      <i class="devicon-ruby-plain colored"></i>
      <p>For part of my senior design, I integrated several circuits to an open source IoT platform. This experience made my want to widen my coding horizons to platforms such as Ruby and Linux. This website showcases my early coding journey.</p>
    </div>
    <hr>
</div>
