<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="animated fadeIn">
      {% include header-small.html %}
      <div class="sizing">
        {% for post in site.posts %}
        <h1>{{ post.title }}</h1>
        {{ post.excerpt }}
          <div class="wrap-collabsible">
            <input id="collapsible {{ post.title }}" class="toggle" type="checkbox" onchange="doalert(this)">
            <label for="collapsible {{ post.title }}" class="lbl-toggle" href="#test">Read More</label>
            <div class="collapsible-content">
              <div class="content-inner">
                <p>
                {{ post.content | remove: post.excerpt }}
                </p>
              </div>
            </div>
          </div>
         {% endfor %}
      </div>
      {% include footer.html %}
  </body>
